.app.dark {
    --bg-color: rgb(35 35 37);
    --inverted-bg-color: rgb(184 163 181);
    --primary-color: rgb(184 163 181);
    --secondary-color: rgb(162 250 162);
    --inverted-primary-color: rgb(39 39 39);
    --inverted-secondary-color: rgb(152 165 252);
}
