.app.dark {
  --bg-color: rgb(2, 2, 89);
  --inverted-bg-color: rgb(189, 191, 150);

  --primary-color: rgb(14, 152, 14);
  --secondary-color: rgb(162, 250, 162);
  --inverted-primary-color: rgb(52, 45, 177);
  --inverted-secondary-color: rgb(152, 165, 252);
}
