.app.light {
  --bg-color: rgb(189, 191, 150);
  --inverted-bg-color: rgb(2, 2, 89);

  --primary-color: rgb(52, 45, 177);
  --secondary-color: rgb(152, 165, 252);
  --inverted-primary-color: rgb(14, 152, 14);
  --inverted-secondary-color: rgb(162, 250, 162);
}
